<div class="container grid justify-center gap-4">
    <h1 class="text-center font-semibold text-lg">Spartan UI first look with Accordion</h1>
    <div class="w-[32rem]">
        <div hlmAccordion>
            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it accessible?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>Yes. It adheres to the WAI-ARIA design pattern.</brn-accordion-content>
            </div>
        
            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it styled?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                    Yes. It comes with default styles that match the other components' aesthetics.
                </brn-accordion-content>
            </div>
        
            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it animated?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                    Yes. It's animated by default, but you can disable it if you prefer.
                </brn-accordion-content>
            </div>
        </div>
    </div>

    <div class="w-[32rem]">
        <div
        [brnCtxMenuTriggerFor]="menu"
        class="border-border flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"
      >
        Right click here
      </div>
  
      <ng-template #menu>
        <hlm-menu class="w-64">
          <hlm-menu-group>
            <button inset hlmMenuItem>
              Back
              <hlm-menu-shortcut>⌘[</hlm-menu-shortcut>
            </button>
  
            <button disabled inset hlmMenuItem>
              Forward
              <hlm-menu-shortcut>⌘]</hlm-menu-shortcut>
            </button>
  
            <button disabled inset hlmMenuItem>
              Reload
              <hlm-menu-shortcut>⌘R</hlm-menu-shortcut>
            </button>
  
            <button inset hlmMenuItem [brnMenuTriggerFor]="moreTools">
              More Tools
              <hlm-menu-item-sub-indicator />
            </button>
          </hlm-menu-group>
  
          <hlm-menu-separator />
  
          <hlm-menu-group>
            <button hlmMenuItemCheckbox checked>
              <hlm-menu-item-check />
              Show Booksmarks Bar
              <hlm-menu-shortcut>⌘⇧B</hlm-menu-shortcut>
            </button>
            <button hlmMenuItemCheckbox>
              <hlm-menu-item-check />
              Show full URLs
            </button>
          </hlm-menu-group>
  
          <hlm-menu-separator />
          <hlm-menu-label inset>People</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItemRadio checked>
              <hlm-menu-item-radio />
              Pedro Duarte
            </button>
            <button hlmMenuItemRadio>
              <hlm-menu-item-radio />
              Colm Tuite
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
  
      <ng-template #moreTools>
        <hlm-sub-menu class="w-48">
          <button hlmMenuItem>
            Save Page as...
            <hlm-menu-shortcut>⇧⌘S</hlm-menu-shortcut>
          </button>
          <button hlmMenuItem>Create Shortcut...</button>
          <button hlmMenuItem>Name Window...</button>
          <hlm-menu-separator />
          <button hlmMenuItem>Developer Tools</button>
        </hlm-sub-menu>
      </ng-template>
    </div>

    <div class="w-[32rem]">
      <hlm-menu-bar class="w-fit">
        <button hlmMenuBarItem [brnMenuTriggerFor]="file">File</button>
        <button hlmMenuBarItem [brnMenuTriggerFor]="edit">Edit</button>
        <button hlmMenuBarItem [brnMenuTriggerFor]="view">View</button>
        <button hlmMenuBarItem [brnMenuTriggerFor]="profiles">Profiles</button>
      </hlm-menu-bar>
  
      <ng-template #file>
        <hlm-menu variant="menubar" class="w-48">
          <hlm-menu-group>
            <button hlmMenuItem>
              New Tab
              <hlm-menu-shortcut>⌘T</hlm-menu-shortcut>
            </button>
            <button hlmMenuItem>
              New Window
              <hlm-menu-shortcut>⌘N</hlm-menu-shortcut>
            </button>
            <button hlmMenuItem disabled>New Incognito Window</button>
          </hlm-menu-group>
  
          <hlm-menu-separator />
  
          <button hlmMenuItem [brnMenuTriggerFor]="share">
            Share
            <hlm-menu-item-sub-indicator />
          </button>
  
          <hlm-menu-separator />
  
          <button hlmMenuItem>
            Print...
            <hlm-menu-shortcut>⌘P</hlm-menu-shortcut>
          </button>
        </hlm-menu>
      </ng-template>
      <ng-template #share>
        <hlm-sub-menu>
          <button hlmMenuItem>Email link</button>
          <button hlmMenuItem>Messages</button>
          <button hlmMenuItem>Notes</button>
        </hlm-sub-menu>
      </ng-template>
  
      <ng-template #edit>
        <hlm-menu variant="menubar" class="w-48">
          <hlm-menu-group>
            <button hlmMenuItem>
              Undo
              <hlm-menu-shortcut>⌘Z</hlm-menu-shortcut>
            </button>
            <button hlmMenuItem>
              Redo
              <hlm-menu-shortcut>⇧⌘Z</hlm-menu-shortcut>
            </button>
          </hlm-menu-group>
  
          <hlm-menu-separator />
  
          <button hlmMenuItem [brnMenuTriggerFor]="find">
            Share
            <hlm-menu-item-sub-indicator />
          </button>
  
          <hlm-menu-separator />
  
          <button hlmMenuItem>Cut</button>
          <button hlmMenuItem>Copy</button>
          <button hlmMenuItem>Paste</button>
        </hlm-menu>
      </ng-template>
      <ng-template #find>
        <hlm-sub-menu>
          <button hlmMenuItem>Search the web</button>
          <hlm-menu-separator />
          <button hlmMenuItem>Find...</button>
          <button hlmMenuItem>Find Next</button>
          <button hlmMenuItem>Find Previous</button>
        </hlm-sub-menu>
      </ng-template>
  
      <ng-template #view>
        <hlm-menu variant="menubar">
          <button hlmMenuItemCheckbox>
            <hlm-menu-item-check />
            Always Show Bookmarks Bar
          </button>
          <button hlmMenuItemCheckbox checked>
            <hlm-menu-item-check />
            Always Show Full URLs
          </button>
          <hlm-menu-separator />
          <button inset hlmMenuItem>
            Reload
            <hlm-menu-shortcut>⌘R</hlm-menu-shortcut>
          </button>
          <button inset disabled hlmMenuItem>
            Force Reload
            <hlm-menu-shortcut>⇧⌘R</hlm-menu-shortcut>
          </button>
          <hlm-menu-separator />
          <button inset hlmMenuItem>Toggle Fullscreen</button>
          <hlm-menu-separator />
          <button inset hlmMenuItem>Hide Sidebar</button>
        </hlm-menu>
      </ng-template>
  
      <ng-template #profiles>
        <hlm-menu variant="menubar" class="w-48">
          <button hlmMenuItemRadio>
            <hlm-menu-item-radio />
            Andy
          </button>
          <button hlmMenuItemRadio checked>
            <hlm-menu-item-radio />
            Benoit
          </button>
          <button hlmMenuItemRadio>
            <hlm-menu-item-radio />
            Lewis
          </button>
          <hlm-menu-separator />
          <button inset hlmMenuItem>Edit...</button>
          <hlm-menu-separator />
          <button inset hlmMenuItem>Add Profile...</button>
        </hlm-menu>
      </ng-template>
    </div>
  
</div>
<app-spartan-table-preview></app-spartan-table-preview>
<router-outlet></router-outlet>
